
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Фонды", "Index", "Fonds", routeValues: null, htmlAttributes: new { title = "Фонды" })</li>
    <li>@Html.ActionLink("Договоры", "Index", "Dogovors", routeValues: null, htmlAttributes: new { title = "Виды активоы" })</li>
    <li>@Html.ActionLink("Клиенты", "Index", "Clients", routeValues: null, htmlAttributes: new { title = "Клиенты" })</li>
    <li>@Html.ActionLink("Отделы", "Index", "Secshondeportaments", routeValues: null, htmlAttributes: new { title = "Отделы" })</li>
    <li>@Html.ActionLink("Пользователи", "Index", "ApplicationUsers", routeValues: null, htmlAttributes: new { title = "Пользователи" })</li>
    <li>@Html.ActionLink("Разрешения", "Index", "Enumpermissions", routeValues: null, htmlAttributes: new { title = "Разрешения" })</li>
    <li>@Html.ActionLink("Правила", "Index", "RuleSystems", routeValues: null, htmlAttributes: new { title = "Правила" })</li>
</ul>

