
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @*<li>@Html.ActionLink("Депортаменты", "Index", "Department", routeValues: null, htmlAttributes: new { title = "Депортаменты" })</li>
        <li>@Html.ActionLink("Виды активов", "Index", "AssetType", routeValues: null, htmlAttributes: new { title = "Виды активоы" })</li>
        <li>@Html.ActionLink("Контрагенты", "Index", "Contragent", routeValues: null, htmlAttributes: new { title = "Контрагенты" })</li>
        <li>@Html.ActionLink("Фонды", "Index", "Fond", routeValues: null, htmlAttributes: new { title = "Фонды" })</li>*@
    <li>@Html.ActionLink("ApplicationUsers", "Index", "ApplicationUsers", routeValues: null, htmlAttributes: new { title = "ApplicationUsers" })</li>
    <li>@Html.ActionLink("Регистрация пользователей", "Register", "Account", routeValues: null, htmlAttributes: new { title = "Регистрация пользователей" })</li>
    <li>@Html.ActionLink("Правила", "Index", "RuleSystems", routeValues: null, htmlAttributes: new { title = "Правила" })</li>
</ul>

