
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    @*<li>@Html.ActionLink("Депортаменты", "Index", "Department", routeValues: null, htmlAttributes: new { title = "Депортаменты" })</li>
    <li>@Html.ActionLink("Виды активов", "Index", "AssetType", routeValues: null, htmlAttributes: new { title = "Виды активоы" })</li>
    <li>@Html.ActionLink("Контрагенты", "Index", "Contragent", routeValues: null, htmlAttributes: new { title = "Контрагенты" })</li>*@
    <li>@Html.ActionLink("Отделы", "Index", "Secshondeportaments", routeValues: null, htmlAttributes: new { title = "Отделы" })</li>
    <li>@Html.ActionLink("Пользователи", "Index", "ApplicationUsers", routeValues: null, htmlAttributes: new { title = "Пользователи" })</li>
    <li>@Html.ActionLink("Разрешения", "Index", "Enumpermissions", routeValues: null, htmlAttributes: new { title = "Разрешения" })</li>
    <li>@Html.ActionLink("Правила", "Index", "RuleSystems", routeValues: null, htmlAttributes: new { title = "Правила" })</li>
</ul>

