@model IEnumerable<client_data.Models.RequestDeposits>
@using major_fansyspr
@{
    ViewBag.Title = "История";
}
    <h2>История</h2>

    <p>

        @Html.ActionLink("Сформировать Запрос", "Create", null, new { @class = "btn btn-default", role = "button" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OutNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OutDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PortfolioId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RubricaOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusObrobotki)
            </th>
            <th></th>
        </tr>

        @foreach (ListIndexResult item in ViewBag.History)
        {
            <tr>
                <td>
                    @item.outNumber
                </td>
                <td>
                    @item.outDate.ToString("dd'/'MM'/'yyyy")
                </td>
                <td>
                    @item.fond                    
                </td>
                <td>
                    @item.rubricaOut
                </td>
                <td>
                    @item.statusObrobotki
                </td>
                <td>
                    @Html.ActionLink("XML", "GetXML", new { id = item.Id })
                    @*@Html.ActionLink("Просмотреть", "Details", new { id = item.Id })|*@
                    @if (item.statusObrobotki == "Согласие")
                    {
                        <span> | </span>
                        @Html.ActionLink("Договор", "Create", "DogovorDeposits", new { id = item.Id }, null)
                    }
                </td>
            </tr>
        }

    </table>